body {
    font-family: 'Lato', sans-serif;
    line-height: 1.4;
}

h1 {
    font-weight: 300;
    font-size: 2em;
}

b-dialog {
    text-align: center;
    padding: 20px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
}