@import 'b-variables.css';

body {
    font-family: 'Lato', sans-serif;
    /*line-height: 1.4;*/
}

h1 {
    font-weight: 300;
    font-size: 2em;
}
h2 {
    font-weight: 300;
    font-size: 1.6em;
}

.b-button {
    font-size: 1em;
    padding: 0.75em 1.5em;
    border: 1px solid transparent;
    border-radius: var(--bosonic-border-radius);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    background-color: var(--bosonic-default-color);
    border-color: color(var(--bosonic-default-color) blackness(var(--bosonic-border-blackness)));
}
.b-button:active, .b-button.active {
    box-shadow: 0 3px 5px rgba(0,0,0,.125) inset;
    background-color: color(var(--bosonic-default-color) blackness(var(--bosonic-active-blackness)));
    border-color: color(var(--bosonic-default-color) blackness(var(--bosonic-active-border-blackness)));
}
.b-button--primary, .b-button.active {
    color: #fff;
    background-color: var(--bosonic-primary-color);
    border-color: color(var(--bosonic-primary-color) blackness(var(--bosonic-border-blackness)));
}
.b-button--primary:active, .b-button.active {
    background-color: color(var(--bosonic-primary-color) blackness(var(--bosonic-active-blackness)));
    border-color: color(var(--bosonic-primary-color) blackness(var(--bosonic-active-border-blackness)));
}
.b-button--success {
    color: #fff;
    background-color: var(--bosonic-success-color);
    border-color: color(var(--bosonic-success-color) blackness(var(--bosonic-border-blackness)));
}
.b-button--success:active {
    background-color: color(var(--bosonic-success-color) blackness(var(--bosonic-active-blackness)));
    border-color: color(var(--bosonic-success-color) blackness(var(--bosonic-active-border-blackness)));
}
.b-button--warning {
    color: #fff;
    background-color: var(--bosonic-warning-color);
    border-color: color(var(--bosonic-warning-color) blackness(var(--bosonic-border-blackness)));
}
.b-button--warning:active {
    background-color: color(var(--bosonic-warning-color) blackness(var(--bosonic-active-blackness)));
    border-color: color(var(--bosonic-warning-color) blackness(var(--bosonic-active-border-blackness)));
}
.b-button--danger {
    color: #fff;
    background-color: var(--bosonic-danger-color);
    border-color: color(var(--bosonic-danger-color) blackness(var(--bosonic-border-blackness)));
}
.b-button--danger:active {
    background-color: color(var(--bosonic-danger-color) blackness(var(--bosonic-active-blackness)));
    border-color: color(var(--bosonic-danger-color) blackness(var(--bosonic-active-border-blackness)));
}

b-dialog-content {
    text-align: center;
    padding: 20px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
}

.b-flash-message-close {
    float:right;
    opacity:.4;
    cursor: pointer;
}

.collapsible-toggle:hover {
    background-color: #c0392b;
}
.collapsible-toggle {
    width: 100%;
    border: none;
    text-align: left;
    font-weight: 700;
    padding: 1em;
    display: block;
    text-decoration: none;
    color: #fff;
    background-color: #e74c3c;
    border-bottom: 1px solid #c0392b;
    -moz-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}
.collapsible-content, .tab-content {
    background-color: #eee;
    font-size: 1em;
    line-height: 1.5em;
    padding: 1em 2em;
}
.tab-content {
    border-left: 1px solid #ccc;
}
b-tab {
    border-radius: 4px 4px 0 0;
}
b-tab.active {
    background-color: #eee;
}

.draggable {
    height: 100px;
    width: 150px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
    background: #fff;
    position: absolute;
    top: 10px;
    left: 20px;
}

.draggable-container {
    position: relative;
    height: 300px;
    width: 250px;
    background: #eee;
}

.draggable-handle {
    background: #e74c3c;
    cursor: move;
    color: #fff;
    height: 35px;
    line-height: 35px;
    text-align: center;
}

.draggable-content {
    padding: 10px;
}
